[DEFAULT]

# number of refinement steps
nrefine = 1

# mask data below this value
mask_below = 0.0

# optional input filepath to a fits file containing a mask used to define the coverage
mask_coverage = 'HC3N_TP_7m_12m_feather.mask2d.fits'

# data x range in pixels
x_range = [0, 979]

# data y range in pixels
y_range = [0, 949]

# data velocity range in cube units
vel_range = [-50, 200.0]

# width of the spectral averaging areas
wsaa = [20]

# fractional limit below which SAAs are rejected
fillfactor = [0.5]

# sample size for randomly selecting SAAs
samplesize = 0.0

# method used to define the coverage [regular/random]
covmethod = 'regular'

# method setting spacing of SAAs [nyquist/regular]
spacing = 'nyquist'

# method defining spectral complexity
speccomplexity = 'momdiff'

# total number of SAAs
totalsaas = [4625.0]

# total number of spectra within the coverage
totalspec = [446982]